{% extends './basic.html' %}
{% load static %}

{% block title %}| About Us {% endblock %}

 {% block head %}    {% endblock %}

	{% block style %}   {% endblock %}

  {% block body %}

    		<!-- Page Title
		============================================= -->
		<section id="page-title" class="page-title-parallax page-title-dark include-header" style="padding: 250px 0; background-image: url({% static 'iimages/aboutbg.jpeg' %}); ">

			<div class="container clearfix">
				<h1 data-animate="fadeInUp">About Us</h1>
				<span>Everything you need to know about our Company</span>

			</div>

		</section>
		<!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap" style="overflow:hidden;">
				<div class="container clearfix">

					<div class="row col-mb-50 mb-0">

						<div class="col-lg-4">

							<div class="heading-block fancy-title border-bottom-0 title-bottom-border">
								<h4 data-animate="fadeInUp">Why choose <span >Us</span></h4>
							</div>

							<p>We believe in having long term partnerships because we view web development as an ongoing process to keep you fresh, relevant, and differentiated. We’re invested in learning about your business and sharing the best possible ways to help you and your brand shine.</p>

						</div>

						<div class="col-lg-4">

							<div class="heading-block fancy-title border-bottom-0 title-bottom-border">
								<h4 data-animate="fadeInUp"> Our <span>Mission</span></h4>
							</div>

							<p>Our goal is to deliver the happiness and ingenuity of the customer at low and negligible prices. To be one of the leading website design , production and web hosting companies in the region. We encourage the user to promote them on their own so that they can become more interested in the market.
</p>

						</div>

						<div class="col-lg-4">

							<div class="heading-block fancy-title border-bottom-0 title-bottom-border">
								<h4 data-animate="fadeInUp">What You <span>Get</span></h4>
							</div>

							<p>Rohar Technologies is a leading web development firm. We deliver a solution for the production of websites, smartphone applications, digital marketing, Artificial Intelligence, Mechtronics and Robotics.</p>

						</div>

					</div>

				</div>

				<div class="section m-0 grey">
					<div class="container clearfix">

						<div class="row col-mb-50">

							<div class="col-sm-6 col-lg-3 text-center" data-animate="bounceIn">
								<i class="i-plain i-xlarge mx-auto icon-line2-directions"></i>
								<div class="counter counter-lined"><span data-from="0" data-to="150" data-refresh-interval="10" data-speed="2000"></span>+</div>
								<h5>Completed Websites</h5>
							</div>

							<div class="col-sm-6 col-lg-3 text-center" data-animate="bounceIn" data-delay="200">
								<i class="i-plain i-xlarge mx-auto mb-0 icon-line2-graph"></i>
								<div class="counter counter-lined"><span data-from="0" data-to="1000" data-refresh-interval="100" data-speed="2000"></span>+</div>
								<h5>Happy Clients</h5>
							</div>

							<div class="col-sm-6 col-lg-3 text-center" data-animate="bounceIn" data-delay="400">
								<i class="i-plain i-xlarge mx-auto mb-0 icon-line2-layers"></i>
								<div class="counter counter-lined"><span data-from="0" data-to="2" data-refresh-interval="1" data-speed="2"></span></div>
								<h5>Branches</h5>
							</div>

							<div class="col-sm-6 col-lg-3 text-center" data-animate="bounceIn" data-delay="600">
								<i class="i-plain i-xlarge mx-auto mb-0 icon-line2-clock"></i>
								<div class="counter counter-lined"><span data-from="50" data-to="36000" data-refresh-interval="30" data-speed="2000"></span>+</div>
								<h5>Hours</h5>
							</div>

						</div>

					</div>
				</div>

				<div class="row align-items-stretch">

					<div class="col-md-5 col-padding min-vh-75" style="background: url({% static 'iimages/owner.jpg' %}) center center no-repeat; background-size: cover;"></div>

					<div class="col-md-7 col-padding">
						<div>
							<div class="heading-block">
								<span class="before-heading color">Founder & CEO</span>
								<h3 data-animate="fadeInUp">Harpreet Singh Mann</h3>
							</div>

							<div class="row col-mb-50">

								<div class="col-lg-6">
									<p>As the CEO, Harpreet Singh Mann combines his International experience and Australian Working Standards. Being a successful entrepreneur in Australia he has the right guides to build a productive business in his own country. His goal is to serve the best services in the technology era worldwide. Rohar Technology- A quality IT firm that is offering a complete IT service package.</p>

								</div>


							</div>

						</div>
					</div>

				</div>

				<div class="row align-items-stretch bottommargin-lg">

					<div class="col-md-5 col-padding min-vh-75 order-md-last" style="background: url({% static 'iimages/co-founder.jpg' %}) center center no-repeat; background-size: cover;"></div>

					<div class="col-md-7 col-padding" style="background-color: #F5F5F5;">
						<div>
							<div class="heading-block">
								<span class="before-heading color">Co-founder</span>
								<h3 data-animate="fadeInUp">Pranav Mahajan</h3>
							</div>

							<div class="row col-mb-50">

								<div class="col-lg-6">
									<p>As Company’s COO, Pranav Mahajan has nine years of experience in Web Development & Digital Marketing and has developed 150+ professional websites. Being a technology enthusiast from a young age, Pranav’s love for entrepreneurship ignited in 2010, when at the age of 9 he started learning web design and got his first client. As of now, he has gathered over a decade of experience, majorly in web development and digital marketing, having contributed to dozens of businesses and mentored several startups. When not at work, you can find him wandering in nature, listening to music, or meditating at some corner of the house.</p>

								</div>

							</div>

						</div>
					</div>

				</div>


				<div class="container clearfix">

					<div class="clear"></div>

					<div class="heading-block center">
						<h4 data-animate="fadeInUp">Our Clients</h4>
					</div>

					<ul class="clients-grid grid-2 grid-sm-3 grid-md-6 mb-0">
						<li class="grid-item"><img src="{% static 'iimages/client/1.png' %}" alt="Clients" class="gray-image"></li>
						<li class="grid-item"><img src="{% static 'iimages/client/2.png' %}" alt="Clients" class="gray-image"></li>
						<li class="grid-item"><img src="{% static 'iimages/client/3.png' %}" alt="Clients" class="gray-image"></li>
						<li class="grid-item"><img src="{% static 'iimages/client/4.png' %}" alt="Clients" class="gray-image"></li>
						<li class="grid-item"><img src="{% static 'iimages/client/5.png' %}" alt="Clients" class="gray-image"></li>
						<li class="grid-item"><img src="{% static 'iimages/client/6.png' %}" alt="Clients" class="gray-image"></li>
						<li class="grid-item"><img src="{% static 'iimages/client/7.png' %}" alt="Clients" class="gray-image"></li>
						<li class="grid-item"><img src="{% static 'iimages/client/8.png' %}" alt="Clients" class="gray-image"></li>
						<li class="grid-item"><img src="{% static 'iimages/client/9.jpg' %}" alt="Clients" class="gray-image"></li>
						<li class="grid-item"><img src="{% static 'iimages/client/10.jpeg' %}" alt="Clients" class="gray-image"></li>
						<li class="grid-item"><img src="{% static 'iimages/client/11.jpg' %}" alt="Clients" class="gray-image"></li>
						<li class="grid-item"><img src="{% static 'iimages/client/12.png' %}" alt="Clients" class="gray-image"></li>


					</ul>

				</div>

				<div class="section footer-stick">

					<h4 class="text-uppercase center" data-animate="fadeInUp">What <span>Clients</span> Say?</h4>

					<div class="fslider testimonial testimonial-full" data-animation="fade" data-arrows="false">
						<div class="flexslider">
							<div class="slider-wrap">
								<div class="slide">
									<div class="testi-image">
										<a href="#"><img src="{% static 'demos/hosting/images/users/2.jpg' %}" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>To get out-of-the-box solutions for all your real-time problems, Rohar Technologies is your answer. They deliver what they promise.</p>
										<div class="testi-meta">
											Rishab
											<span>PWC Complex.</span>
										</div>
									</div>
								</div>
								<div class="slide">
									<div class="testi-image">
										<a href="#"><img src="{% static 'iimages/testimonials/1.jpg' %}" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>I am glad that I chose Rohar Technologies to create a website for my firm. I got a better version of what I asked for.</p>
										<div class="testi-meta">
											Michelle
											<span>Taylor Morrison</span>
										</div>
									</div>
								</div>
								<div class="slide">
									<div class="testi-image">
										<a href="#"><img src="{% static 'iimages/client/2.png' %}" alt="Customer Testimonails"></a>
									</div>
									<div class="testi-content">
										<p>To get out-of-the-box solutions for all your real-time problems, Rohar Technologies is your answer. They deliver what they promise.</p>
										<div class="testi-meta">
											Sanjay
											<span>Beauty Palace.</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>


		</section>
		<!-- #content end -->


   {% endblock %}

{% block js %}    {% endblock %}

