{% extends './basic.html' %}
{% load static %}

{% block title %}| Contact Us {% endblock %}

 {% block head %}




{% endblock %}

{% block style %}
<style>
	.contact-style form#template-contactform {
    width: 100%;
}
</style>
   <style>.iti.iti--allow-dropdown.iti--separate-dial-code {
    width: 100%;
}</style>
{% endblock %}

  {% block body %}

		<!-- Page Title
		============================================= -->
		<section id="page-title" style="background-image: url({% static 'iimages/contact-us-fashionshouters.jpg' %});">

			<div class="container clearfix">
				<h1>Contact</h1>
				<span >Get in Touch with Us</span>

			</div>

		</section><!-- #page-title end -->


	<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="row align-items-stretch col-mb-50 mb-0">
						<!-- Contact Form
						============================================= -->
						<div class="col-lg-6">

							<div class="fancy-title title-border">
								<h3 data-animate="fadeInUp">Request A Free Consultation</h3>
							</div>

							<div class="contact-style">

								<form class="mb-0" id="template-contactform" name="template-contactform" action="/contact_us/" method="post">{% csrf_token %}



									<div class="row">
										<div class="col-md-4 form-group">
											<label for="template-contactform-name">Name <small>*</small></label>
											<input type="text" id="template-contactform-name" name="name" value="" required class="sm-form-control" />
										</div>

										<div class="col-md-4 form-group">
											<label for="template-contactform-email">Email <small>*</small></label>
											<input type="email" id="template-contactform-email" name="email" value="" required class="email sm-form-control" />
										</div>

										<div class="col-md-4 form-group">
											<label>Phone</label>
											 <input type="tel" name="phone" id="phone_number" placeholder="Mobile Number" required class="sm-form-control"/>

										</div>

										<div class="w-100"></div>

										<div class="col-md-12 form-group">
											<label for="template-contactform-subject">Subject <small>*</small></label>
											<input type="text" id="template-contactform-subject" name="subject" required value="" class="required sm-form-control" />
										</div>

										

										<div class="w-100"></div>

										<div class="col-12 form-group">
											<label for="template-contactform-message">Message <small>*</small></label>
											<textarea class="required sm-form-control" required id="template-contactform-message" name="message" rows="6" cols="30"></textarea>
										</div>

										<div class="col-12 form-group d-none">
											<input type="text" id="template-contactform-botcheck" name="template-contactform-botcheck" value="" class="sm-form-control" />
										</div>

										<div class="col-12 form-group">
											<button type="submit" id="submit-button" tabindex="5" value="Submit" class="button button-3d m-0">Get Free Consultance</button>
										</div>
									</div>

									<input type="hidden" name="prefix" value="template-contactform-">

								</form>
							</div>

						</div><!-- Contact Form End -->

						<!-- Google Map
						============================================= -->
						<div class="col-lg-6 min-vh-50">

						<iframe  id="gmap_canvas" src="https://maps.google.com/maps?q=rohartech&t=&z=13&ie=UTF8&iwloc=&output=embed" width="600" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

						</div><!-- Google Map End -->
					</div>

				</div>
			</div>
		</section>
		<!-- #content end -->



   {% endblock %}

{% block js %}



{% endblock %}

