{% extends './basic.html' %}
{% load static %}

{% block title %}| Digital Marketing {% endblock %}

 {% block head %}    {% endblock %}

	{% block style %}   {% endblock %}

  {% block body %}
    		<!-- Page Title
		============================================= -->
		<section id="page-title" style="background-image: url({% static 'iimages/dmban.jpg' %}); background-size: cover; background-position: center center;" data-bottom-top="background-position:0px 400px;" data-top-bottom="background-position:data-bottom-top;">

			<div class="container clearfix">
				<h1>Services</h1>
				<span>Digital Marketing</span>

			</div>

		</section><!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<div class="row col-mb-50">
						<div class="col-md-4">
							<div class="feature-box media-box">
								
								<div class="fbox-content px-0">
									<h3>Social Media Management (SMM)</h3>
									<p>We are the leading team of Social Media Marketing Company in Chandigarh that are experts in boosting your brand awareness, creating leads, and helping you gain high revenue. SMM offers you a chance to promote your business, increase your audience, and expand your brand recognition. SMM deals with every social media channel like- Facebook, Twitter, Pinterest, Instagram, YouTube, and LinkedIn.</p>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="feature-box media-box flex-column">
								
								<div class="fbox-content px-0">
									<h3>Social Media Optimization (SEO)</h3>
									<p>You can find us as the best SEO company in Chandigarh, We understand why SEO (Search Engine Optimization) is an important key for your websites or business. SEO helps in creating the website traffic through which the site ranks at the top while searching. For doing SEO we go through 2 phases on-page SEO and off-page SEO. Though the process of SEO is long, it serves long-term success. </p>
								</div>
							</div>
						</div>

						<div class="col-md-4">
							<div class="feature-box media-box flex-column">
								
								<div class="fbox-content px-0">
									<h3>Pay Per Click (PPC)</h3>
									<p>Pay-Per-Click (PPC) is a Google Adword that is used to boost our social media and websites through the ads. We are the best PPC Advertising Service in Chandigarh for generating leads for your online business.
Pay-Per-Click (PPC) refers to the web advertisement model where lead is based on per click. PPC is used to make an appearance of your brand at the top of the search engine result.</p>
								</div>
							</div>
						</div>
					</div>



				</div>

				<div class="section">
					<div class="container demo">

						<div class="heading-block center">
							<h2>Digital Marketing</h2>

						</div>

						<div class="row col-mb-50">
							<div class="col-12">
								<img data-animate="fadeIn" class="aligncenter" src="{% static 'iimages/pppp.png' %}" alt="Macbook">
							</div>

							<div class="col-md-4">
								<div class="feature-box fbox-plain">

									<div class="fbox-content">
										<h3>Why Choose Us </h3>
										<p>We have complete knowledge of digital marketing services through which we can fully cover your business to generate sales and profit. Get in touch with us- We are a leading digital marketing agency in Chandigarh.</p>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="feature-box fbox-plain">

									<div class="fbox-content">
										<h3>Our Mission </h3>
										<p>Being professional in our skill of Digital Marketing our mission is to deliver measurable results to the client for making their online business highly run.</p>
									</div>
								</div>
							</div>

							<div class="col-md-4">
								<div class="feature-box fbox-plain">

									<div class="fbox-content">
										<h3>What We Do </h3>
										<p>Our main focus is to generate the lead, traffic, sales, and profit for your all platforms and channels.</p>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="container">

					<div class="row align-items-center col-mb-50 demo">
						<div class="col-md-5" style="background-image: url({% static 'iimages/dm2jpeg.jpeg' %});    height: 50vh;
								background-size: cover;
								background-repeat: no-repeat; box-shadow: 0px 0px 10px rgba(0,0,0,0.5);">

						</div>

						<div class="col-md-7 text-center text-md-left">
							<div class="heading-block border-bottom-0">
								<h4>Paid Promotions</h4>
							</div>

							<p>Advertisement strategies are just as important to promote your brand as giving importance to content, it just pays equal importance to both. Written great content but not promoting the brand at the right place and time will not pay you fruitful results.dvertisement strategies are just as important to promote your brand as giving importance to content, it just pays equal importance to both. Written great content but not promoting the brand at the right place and time will not pay you fruitful resultsAdvertisement strategies are just as important to promote your brand as giving importance to content, it just pays equal importance to both. Written great content but not promoting the brand at the right place and time will not pay you fruitful results.</p>
							<p>A lot of paid promotion strategies are here to promote the brand, generate a lead, create traffic, and attract a highly specific audience to grow your online business. We are the right place for you to help in growing your business through your choice of any Digital marketing services</p>
							<p>A paid promotion service involves promotions of many channels like-
Facebook paid promotions, Instagram paid promotions, Linkedin paid advertising, PPC Management, YouTube Paid Marketing, and many more. And Our team of Rohar technology is the best digital marketing company in Chandigarh, which can help you promote your business at its peak
</p>

						</div>
					</div>

					<div class="line"></div>

					<div class="row align-items-center col-mb-50">
						<div class="col-md-5 order-md-last" style="background-image: url({% static 'iimages/unnamed.jpg' %});    height: 50vh;
						background-size: cover;
						background-repeat: no-repeat; box-shadow: 0px 0px 10px rgba(0,0,0,0.5);">
							<canvas id="chart-radar"></canvas>
						</div>

						<div class="col-md-7 text-center text-md-left demo">
							<div class="heading-block border-bottom-0">
								<h4>Marketing Strategy</h4>
							</div>
								<p>A digital marketing strategy identifies a range of steps to accomplish many targets by online marketing platforms. You can develop and execute your marketing campaign effectively with a digital marketing action plan.</p>
								<p>Rohar Technology can build your business online through the best marketing strategy by building the right foundation, generating more leads, attracting more traffic, and growing your business. Marketing Strategy of Digital Marketing includes services of- SEO, SMM, PPC, YouTube Marketing, Facebook Marketing, and more. </p>
								<p>Digital marketing is key in today's online world. It is one of the best ways to grow your firm, regardless of your industry or company size. But you need the right digital marketing strategy on your side to develop your business and sales. And here we are to help you out by suggesting you the best strategy choice for your business.</p>


						</div>
					</div>

				</div>

				<a href="{% url 'contact' %}" class="button button-full center text-right topmargin-lg footer-stick">
					<div class="container clearfix">
						Need help? <strong>Enquire Now</strong> <i class="icon-caret-right" style="top:4px;"></i>
					</div>
				</a>

			</div>
		</section>
		<!-- #content end -->


   {% endblock %}

{% block js %}    {% endblock %}

