{% extends './basic.html' %}
{% load static %}

{% block title %}| Faqs {% endblock %}

 {% block head %}    {% endblock %}

	{% block style %}   {% endblock %}

  {% block body %}

    		<!-- Page Title
		============================================= -->
		<section id="page-title" style="background-image: url({% static 'iimages/faq1.jpg' %});  ">

			<div class="container clearfix">
				<h1 >FAQs</h1>
				<span >All your Questions answered in one place</span>

			</div>

		</section>
<!-- #page-title end -->

		<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<h3 data-animate="fadeInUp">Some of your Questions:</h3>

					<p>All your Questions answered in one place.</p>

					<div class="divider"><i class="icon-circle"></i></div>

					<div class="row col-mb-50">
						<div class="col-md-6">

							<h4 data-animate="fadeInUp">Web Development <small>(4)</small></h4>

							<div class="accordion accordion-border clearfix" data-state="closed">

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
									How much time does it take in building the website?
									</div>
								</div>
								<div class="accordion-content">
									Every website takes a different time length according to its no. of page, module,
									functionality, complexity, and factors like a custom website, e-commerce website, or
									small, simple, or corporate website. The average time we take for a small website is 3 to
									10 days and for a large website, we may take 2-4 weeks.
								</div>

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
									How much does it cost to building a website?
									</div>
								</div>
								<div class="accordion-content">
									Due to the extensive changes in everyone’s requirements for website functionalities or
									specifications, it is difficult to quote an average price for websites. Also, the use of
									different technologies for website building offers different prices.
									Hence, the costing is not predefined. But we always charge low from the market
									estimation along with the quality project delivery.
								</div>

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										What kind of technology do we support for building websites?
									</div>
								</div>
								<div class="accordion-content">
									We are expertise in HTML, CSS, BOOTSTRAP, JAVA, JAVASCRIPT, PYTHON, and
									WordPress. For building any project we follow your requirement and choose the
									technologies as per your specifications.
								</div>

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										Do we offer Support?
									</div>
								</div>
								<div class="accordion-content">
									If any kind of support is required in our delivered website, we are here to help you out.
									We believe in maintaining long-term relationships with our customers, So here our team
									provides lifetime support for you, We are available from 9:00 to 5:00 pm for customers
									who might need support or maintenance.
								</div>
							</div>


							<h4 class="topmargin" data-animate="fadeInUp">Application Development <small>(4)</small></h4>

							<div class="accordion accordion-border mb-0 clearfix" data-state="closed">

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										How much time does it take in building a mobile application?
									</div>
								</div>
								<div class="accordion-content">
									Generally, the length of building the android app and iOS app took different time along
									with its different requirements and complexities.
									On average, we take at least 2 weeks for creating an enterprise-level app for android and
									4 weeks for iOS.
								</div>

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										How much does it cost to building a mobile application?
									</div>
								</div>
								<div class="accordion-content">
									Due to the extensive changes in everyone’s requirements for application functionalities
									and facing different complexities, it is difficult to quote an average price. The use of
									different platforms and technologies for app building offers different prices.
									Hence, the costing is not predefined. But we always charge low from the market
									estimation along with the quality project delivery.
								</div>

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										Which Mobile Application platform we use?
									</div>
								</div>
								<div class="accordion-content">
									We only use 2 platforms for building Mobile App-
										● Android App:- We use Android app development using java.
										● iOS App:- We use iOS app development using swift.
								</div>


								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										Do we offer Support?
									</div>
								</div>
								<div class="accordion-content">
									If any kind of support is required in our delivered app we are here to help you out. We
									believe in maintaining long-term relationships with our customers, So here our team
									provides lifetime support for you, We are available from 9:00 to 5:00 pm for customers
									who might need support or maintenance.
								</div>

							</div>

						</div>

						<div class="col-md-6">

							<h4 data-animate="fadeInUp">Digital Marketing <small>(4)</small></h4>

							<div class="accordion accordion-border clearfix" data-state="closed">

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										Why Digital Marketing is essential or important?
									</div>
								</div>
								<div class="accordion-content">
									Through Digital Marketing you can build growth, generate sales, and profit for your online
									business from different platforms and channels. For increasing the reach and public
									awareness of your business, Digital Marketing is essential and highly recommended.
								</div>

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										What digital marketing services do we provide?
									</div>
								</div>
								<div class="accordion-content">
									We are an expert team of Digital Marketing Manager who has complete knowledge of
									every service. Like, Search Engine Optimization (SEO), Social Media Marketing,
									YouTube Marketing, Pay-Per-Click (PPC), Content Marketing (Blogging & Article
									Writing), Email Marketing.
								</div>

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										How much does it cost to Digital Marketing?
									</div>
								</div>
								<div class="accordion-content">
									It is difficult to show an exact figure of cost, as it is based on many variables like Every
									service of digital marketing offers different pricing and under every service, the
									requirement varies from client to client. That all make a variation of price in every project.
								</div>

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										Do we offer Support?
									</div>
								</div>
								<div class="accordion-content">
									As Digital Marketing work requires time to time updates in platforms and channels, We
									are here to handle your work till the deal of time. We believe in maintaining long-term
									relationships with our customers, So here our team provides lifetime support for you, We
									are available from 9:00 to 5:00 pm for customers who might need support or
									maintenance.
								</div>

							</div>



							<h4 class="topmargin" data-animate="fadeInUp" >Web & Graphics Designing <small>(4)</small></h4>

							<div class="accordion accordion-border mb-0 clearfix" data-state="closed">

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										How much time does it take to design the graphics?
									</div>
								</div>
								<div class="accordion-content">
									Every graphic takes a different time to be designed, Time is fully based on the client’s
									requirement and the designing service client has chosen.
								</div>

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										How much does it cost to designing graphic designs?
									</div>
								</div>
								<div class="accordion-content">
									From our end, you can always rest assured that you will be getting high-quality work
									within reasonable pricing. THough costing is not predefined because it is based on many
									variables like different designing effects, different designing requirements and so more.
							</div>

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										What design service we do provide?
									</div>
								</div>
								<div class="accordion-content">
									We are a team of creative designers, and we design everything like, logo, brochure, flyer,
									UI, package designing, 2d- animation, photo editing, banner, social media post, gifs, and
									many more. We deliver innovative designs to you based on your requirement with all file
									formats.
							</div>

								<div class="accordion-header">
									<div class="accordion-icon">
										<i class="accordion-closed icon-ok-circle"></i>
										<i class="accordion-open icon-remove-circle"></i>
									</div>
									<div class="accordion-title">
										Do we offer Support?
									</div>
								</div>
								<div class="accordion-content">
									We do work till your satisfactory, Even after that, you need any updates we are here to
									provide you full support. We believe in maintaining long-term relationships with our
									customers, So here our team provides lifetime support for you, We are available from
									9:00 to 5:00 pm for customers who might need support or maintenance.
							</div>


						</div>

						</div>

					</div>
				</div>
			</div>
		</section><!-- #content end -->


   {% endblock %}

{% block js %}    {% endblock %}

