{% extends './basic.html' %}
{% load static %}
{% block title %}| 404 Error {% endblock %}

 {% block head %}
	<!-- Photographer Specific Stylesheet -->
	<link rel="stylesheet" href="{% static 'demos/photographer/photographer.css' %}" type="text/css" />
	<!-- Photographer Specific Fonts -->
	<link rel="stylesheet" href="{% static 'demos/photographer/css/fonts.css' %}" type="text/css" />

	<link rel="stylesheet" type="text/css" href="{% static 'demos/photographer/css/menu.css' %}" />

<!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
	<link rel="stylesheet" type="text/css" href="{% static 'rs-plugin/css/settings.css' %}" media="screen" />
	<link rel="stylesheet" type="text/css" href="{% static 'rs-plugin/css/layers.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'rs-plugin/css/navigation.css' %}">

	<!-- ADD-ONS CSS FILES -->
	<link rel="stylesheet" type="text/css" href="{% static 'rs-plugin/css/addons/revolution.addon.beforeafter.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'rs-plugin/css/addons/revolution.addon.particles.css' %}">
<style>

		.demos-filter {
			margin: 0;
			text-align: right;
		}

		.demos-filter li {
			list-style: none;
			margin: 10px 0px;
		}

		.demos-filter li a {
			display: block;
			border: 0;
			text-transform: uppercase;
			letter-spacing: 1px;
			color: #444;
		}

		.demos-filter li a:hover,
		.demos-filter li.activeFilter a { color: #1ABC9C; }

		@media (max-width: 991px) {
			.demos-filter { text-align: center; }

			.demos-filter li {
				float: left;
				width: 33.3%;
				padding: 0 20px;
			}
		}

		@media (max-width: 767px) { .demos-filter li { width: 50%; } }

		.tp-whiteshadow{text-shadow:-2px 1px white,-3px 2px white,-4px 3px white,-5px 4px white,-6px 5px white,-7px 6px white,-8px 7px white,-9px 8px white,-10px 9px white,-11px 10px white,-12px 11px white}.tp-blackshadow{text-shadow:-2px 1px #222,-3px 2px #222,-4px 3px #222,-5px 4px #222,-6px 5px #222,-7px 6px #222,-8px 7px #222,-9px 8px #222,-10px 9px #222,-11px 10px #222,-12px 11px #222}

	</style>
{% endblock %}

	{% block style %}   {% endblock %}

{% block body %}


    		<!-- Slider
		============================================= -->
			<section id="slider" class="slider-element revslider-wrap">

			<div id="rev_slider_77_1_wrapper" class="rev_slider_wrapper fullwidth-container" data-alias="beforeafterslider1" data-source="gallery" style="background:#252525;padding:0px;">
				<!-- START REVOLUTION SLIDER 5.4.5 fullscreen mode -->
				<div id="rev_slider_77_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.4.5">
					<ul>	<!-- SLIDE  -->

						<li data-index="rs-180" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="{% static 'iimages/banner/2.jpg' %}"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" data-beforeafter='{"moveto":"50%|50%|50%|50%","bgColor":"#e7e7e7","bgType":"image","bgImage":"{% static 'iimages/banner/1.jpg' %}","bgFit":"cover","bgPos":"center center","bgRepeat":"no-repeat","direction":"horizontal","easing":"Power2.easeInOut","delay":"500","time":"750","out":"fade","carousel":false}'>
							<!-- MAIN IMAGE -->
							<img src="{% static 'iimages/banner/2.jpg' %}"  alt="Image"  data-bgposition="center center" data-kenburns="on" data-duration="5000" data-ease="Power4.easeOut" data-scalestart="150" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-blurstart="30" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="off" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->

							<!-- LAYER NR. 15 -->
							<div class="tp-caption   fullscreenvideo  tp-blendvideo disabled_lc tp-videolayer"
								 id="slide-180-layer-15"
								 data-x="0"
								 data-y="0"
											data-whitespace="normal"

								data-type="video"
								data-beforeafter="before"
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"
								data-frames='[{"delay":2500,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
					 data-videocontrols="none" data-videowidth="100%" data-videoheight="100%" data-videoposter="{% static 'rs-plugin/demos/assets/images/tp_vid_clouds-1.jpg' %}" data-videomp4="{% static 'rs-plugin/demos/assets/videos/tp_vid_clouds-2.mp4' %}" data-noposteronmobile="off" data-videopreload="auto" data-videoloop="loop" data-forceCover="1" data-aspectratio="16:9" data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"
								data-blendmode="overlay"
								data-autoplay="on"
								data-volume="mute"
								style="z-index: 5;"> </div>

							<!-- LAYER NR. 16 -->
							<div class="tp-caption tp-shape tp-shapewrapper "
								 id="slide-180-layer-17"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
											data-width="full"
								data-height="full"
								data-whitespace="normal"

								data-type="shape"
								data-beforeafter="before"
								data-basealign="slide"
								data-responsive_offset="off"
								data-responsive="off"
								data-frames='[{"delay":10,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 6;"> </div>

							<!-- LAYER NR. 17 -->
							<div class="tp-caption   tp-resizeme  tp-whiteshadow"
								 id="slide-180-layer-1"
								 data-x="['center','center','center','center']" data-hoffset="['-280','-280','-280','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','-10','-10']"
											data-fontsize="['100','100','100','60']"
								data-lineheight="['100','100','100','60']"
								data-width="['600','600','600','none']"
								data-height="none"
								data-whitespace="nowrap"

								data-type="text"
								data-beforeafter="before"
								data-responsive_offset="on"

								data-frames='[{"delay":500,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['center','center','center','center']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[20,20,20,20]"
								data-blendmode="screen"

								style="z-index: 7; min-width: 600px; max-width: 600px; white-space: nowrap; font-size: 100px; line-height: 100px; font-weight: 400; color: #000000; letter-spacing: 20px;font-family:Montserrat;text-transform:uppercase;">Night </div>

							<!-- LAYER NR. 18 -->
							<div class="tp-caption   tp-resizeme  tp-blackshadow"
								 id="slide-180-layer-9"
								 data-x="['center','center','center','center']" data-hoffset="['280','280','280','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','-10','-10']"
											data-fontsize="['100','100','100','60']"
								data-lineheight="['100','100','100','60']"
								data-width="['600','600','600','none']"
								data-height="none"
								data-whitespace="nowrap"

								data-type="text"
								data-beforeafter="after"
								data-responsive_offset="on"

								data-frames='[{"delay":2000,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['center','center','center','center']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[20,20,20,20]"
								data-blendmode="overlay"

								style="z-index: 8; min-width: 600px; max-width: 600px; white-space: nowrap; font-size: 100px; line-height: 100px; font-weight: 400; color: #FFF; letter-spacing: 20px;font-family:Montserrat;text-transform:uppercase;">DAY </div>

							<!-- LAYER NR. 19 -->
							<div class="tp-caption   tp-resizeme"
								 id="slide-180-layer-11"
								 data-x="['center','center','center','center']" data-hoffset="['300','300','300','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','100']"
											data-fontsize="['20','20','20','15']"
								data-lineheight="['25','25','25','20']"
								data-width="['400','400','400','320']"
								data-height="none"
								data-whitespace="normal"

								data-type="text"
								data-beforeafter="before"
								data-responsive_offset="on"

								data-frames='[{"delay":2500,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['center','center','center','center']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 9; min-width: 400px; max-width: 400px; white-space: normal; font-size: 20px; line-height: 25px; font-weight: 400; color: #FFF; letter-spacing: 0px;font-family:Montserrat;">I often think that the night is more alive and more richly colored than the day.<br/>
					— Vincent Van Gogh
					 	</div>

							<!-- LAYER NR. 20 -->
							<div class="tp-caption   tp-resizeme"
								 id="slide-180-layer-13"
								 data-x="['center','center','center','center']" data-hoffset="['-300','-300','-300','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','100']"
											data-fontsize="['20','20','20','15']"
								data-lineheight="['25','25','25','20']"
								data-width="['400','400','400','320']"
								data-height="none"
								data-whitespace="normal"

								data-type="text"
								data-beforeafter="after"
								data-responsive_offset="on"

								data-frames='[{"delay":2500,"speed":2000,"frame":"0","from":"sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['center','center','center','center']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 10; min-width: 400px; max-width: 400px; white-space: normal; font-size: 20px; line-height: 25px; font-weight: 400; color: #FFF; letter-spacing: 0px;font-family:Montserrat;">Fishing, with me, has always been an excuse to drink in the daytime.
					<br/>
					— Jimmy Cannon </div>
						</li>
						<!-- SLIDE  -->
						<li data-index="rs-181" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="{% static 'rs-plugin/demos/assets/images/100x50_before1-1.jpg' %}"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" data-beforeafter='{"moveto":"50%|50%|50%|50%","bgColor":"#e7e7e7","bgType":"image","bgImage":"{% static 'rs-plugin/demos/assets/images/after1-1.jpg' %}","bgFit":"cover","bgPos":"center center","bgRepeat":"no-repeat","direction":"horizontal","easing":"Power2.easeInOut","delay":"500","time":"750","out":"fade","carousel":false}'>
							<!-- MAIN IMAGE -->
							<img src="{% static 'rs-plugin/demos/assets/images/before1-1.jpg' %}"  alt="Image"  data-bgposition="center center" data-kenburns="on" data-duration="5000" data-ease="Power4.easeOut" data-scalestart="150" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-blurstart="30" data-blurend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="off" class="rev-slidebg" data-no-retina>
							<!-- LAYERS -->

							<!-- LAYER NR. 21 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
								 id="slide-181-layer-3"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','1']"
											data-fontsize="['300','300','300','200']"
								data-lineheight="['300','300','300','200']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"

								data-type="text"
								data-beforeafter="before"
								data-responsive_offset="on"

								data-frames='[{"delay":300,"speed":2000,"frame":"0","from":"sX:5;sY:5;opacity:0;fb:20px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[50,50,50,50]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 5; white-space: nowrap; font-size: 300px; line-height: 300px; font-weight: 400; color: rgba(0,28,159,0.5); letter-spacing: 0px;font-family:Abril Fatface;">
					<div class="rs-looped rs-pulse"  data-easing="Power1.easeInOut" data-speed="1" data-zoomstart="1" data-zoomend="1.05">& </div></div>

							<!-- LAYER NR. 22 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-3"
								 id="slide-181-layer-1"
								 data-x="['center','center','center','center']" data-hoffset="['-250','-250','-250','-60']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['1','1','1','-50']"
											data-fontsize="['150','150','150','80']"
								data-lineheight="['150','150','150','80']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"

								data-type="text"
								data-beforeafter="before"
								data-responsive_offset="on"

								data-frames='[{"delay":450,"speed":2000,"frame":"0","from":"x:-200px;sX:1;sY:1;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[20,20,20,20]"
								data-paddingbottom="[30,30,30,30]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 6; white-space: nowrap; font-size: 150px; line-height: 150px; font-weight: 400; color: #FFF; letter-spacing: 0px;font-family:Yellowtail;">Before </div>

							<!-- LAYER NR. 23 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
								 id="slide-181-layer-5"
								 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
											data-fontsize="['300','300','300','200']"
								data-lineheight="['300','300','300','200']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"

								data-type="text"
								data-beforeafter="after"
								data-responsive_offset="on"

								data-frames='[{"delay":300,"speed":2000,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[0,0,0,0]"
								data-paddingbottom="[50,50,50,50]"
								data-paddingleft="[0,0,0,0]"

								style="z-index: 7; white-space: nowrap; font-size: 300px; line-height: 300px; font-weight: 400; color: rgba(233,0,82,0.5); letter-spacing: 0px;font-family:Abril Fatface;">
					<div class="rs-looped rs-pulse"  data-easing="Power1.easeInOut" data-speed="1" data-zoomstart="1" data-zoomend="1.05">& </div></div>

							<!-- LAYER NR. 24 -->
							<div class="tp-caption   tp-resizeme rs-parallaxlevel-3"
								 id="slide-181-layer-7"
								 data-x="['center','center','center','center']" data-hoffset="['250','250','250','60']"
								 data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','-10','40']"
											data-fontsize="['120','120','120','80']"
								data-lineheight="['120','120','120','80']"
								data-width="none"
								data-height="none"
								data-whitespace="nowrap"

								data-type="text"
								data-beforeafter="after"
								data-responsive_offset="on"

								data-frames='[{"delay":2500,"speed":2000,"frame":"0","from":"x:200px;opacity:0;fb:40px;","to":"o:1;fb:0;","ease":"Power4.easeOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;fb:0;","ease":"Power3.easeInOut"}]'
								data-textAlign="['inherit','inherit','inherit','inherit']"
								data-paddingtop="[0,0,0,0]"
								data-paddingright="[5,5,5,5]"
								data-paddingbottom="[0,0,0,0]"
								data-paddingleft="[5,5,5,5]"

								style="z-index: 8; white-space: nowrap; font-size: 120px; line-height: 120px; font-weight: 400; color: #FFF; letter-spacing: 0px;font-family:Abril Fatface;">After
							</div>
						</li>
					</ul>
					<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
				</div>
			</div><!-- END REVOLUTION SLIDER -->

		</section>

<!-- Content
		============================================= -->
		<section id="content" style="margin: 60px 0 0 0; padding: 60px 0 0 0;">

			<div class="content-wrap pt-0 pb-0">

				<!-- Flip Card Sections
				============================================= -->
				<div class="section mt-0">

					<div class="container">
						<div class="row align-items-center justify-content-between">

							<div class="col-lg-4 parallax" data-bottom-top="margin-top:-50px" data-top-bottom="margin-top:50px">
								<small class="text-muted text-uppercase font-weight-light ls4 mb-1 d-block">Experience</small>
								<h2 class="font-weight-bold ls0 mb-4" style="font-size: 38px;">I have been taking photographs for the last 7 years.</h2>
								<p class="text-muted" style="font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur blanditiis saepe dolore tempora nihil praesentium dolorum unde, earum, nostrum odit?</p>
							</div>

							<div class="col-lg-7">
								<div class="row">
									<div class="col-sm-6">
										<!-- Flip Card
										============================================= -->
										<div class="flip-card">
											<div class="flip-card-front no-after" style="background-color: #F9F9F9">
												<div class="flip-card-inner">
													<div class="feature-box media-box fbox-sm">
														<div class="fbox-icon position-relative mb-4">
															<a href="#">
																<img src="{% static 'demos/photographer/images/icons/camera1-dark.svg' %}" class="rounded-0 bg-transparent text-left" alt="Image">
															</a>
														</div>
														<div class="fbox-content">
															<h3 class="font-weight-normal nott">Wild Photography</h3>
															<p class="text-muted font-weight-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum.</p>
														</div>
													</div>
												</div>
											</div>
											<div class="flip-card-back dark" style="background-image: url({% static 'demos/photographer/images/features/1-1.jpg' %})">
												<div class="flip-card-inner mt-3">
													<h4 class="mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit.</h4>
													<a href="/photography/Fashion/" class="button button-change overflow-hidden rounded nott font-weight-light m-0">
														<span>View Photos</span>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6 mb-5">
										<!-- Flip Card
										============================================= -->
										<div class="flip-card">
											<div class="flip-card-front no-after" style="background-color: #F9F9F9">
												<div class="flip-card-inner">
													<div class="feature-box media-box fbox-sm">
														<div class="fbox-icon position-relative mb-4">
															<a href="#">
																<img src="{% static 'demos/photographer/images/icons/travel-dark.svg' %}" class="rounded-0 bg-transparent text-left" alt="Image">
															</a>
														</div>
														<div class="fbox-content">
															<h3 class="font-weight-normal nott">Travel Blog</h3>
															<p class="text-muted font-weight-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum.</p>
														</div>
													</div>
												</div>
											</div>
											<div class="flip-card-back dark" style="background-image: url({% static 'demos/photographer/images/features/2.jpg' %})">
												<div class="flip-card-inner mt-3">
													<h4 class="mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit.</h4>
													<a href="/photography/Fashion/" class="button button-change overflow-hidden rounded nott font-weight-light m-0">
														<span>View Photos</span>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6 mb-5">
										<!-- Flip Card
										============================================= -->
										<div class="flip-card">
											<div class="flip-card-front no-after" style="background-color: #F9F9F9">
												<div class="flip-card-inner">
													<div class="feature-box media-box fbox-sm">
														<div class="fbox-icon position-relative mb-4">
															<a href="#">
																<img src="{% static 'demos/photographer/images/icons/wedding-dark.svg' %}" class="rounded-0 bg-transparent text-left" alt="Image">
															</a>
														</div>
														<div class="fbox-content">
															<h3 class="font-weight-normal nott">Wedding Shoots</h3>
															<p class="text-muted font-weight-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum.</p>
														</div>
													</div>
												</div>
											</div>
											<div class="flip-card-back dark" style="background-image: url({% static 'demos/photographer/images/features/3.jpg' %})">
												<div class="flip-card-inner mt-3">
													<h4 class="mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit.</h4>
													<a href="/photography/Fashion/" class="button button-change overflow-hidden rounded nott font-weight-light m-0">
														<span>View Photos</span>
													</a>
												</div>
											</div>
										</div>
									</div>
									<div class="col-sm-6">
										<!-- Flip Card
										============================================= -->
										<div class="flip-card">
											<div class="flip-card-front no-after" style="background-color: #F9F9F9">
												<div class="flip-card-inner">
													<div class="feature-box media-box fbox-sm">
														<div class="fbox-icon position-relative mb-4">
															<a href="#">
																<img src="{% static 'demos/photographer/images/icons/camera2-dark.svg' %}" class="rounded-0 bg-transparent text-left" alt="Image">
															</a>
														</div>
														<div class="fbox-content">
															<h3 class="font-weight-normal nott">Candid Moments</h3>
															<p class="text-muted font-weight-medium">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum.</p>
														</div>
													</div>
												</div>
											</div>
											<div class="flip-card-back dark" style="background-image: url({% static 'demos/photographer/images/features/4.jpg' %})">
												<div class="flip-card-inner mt-3">
													<h4 class="mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit.</h4>
													<a href="/photography/Fashion/" class="button button-change overflow-hidden rounded nott font-weight-light m-0">
														<span>View Photos</span>
													</a>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- Section Photographs
				============================================= -->
				<div class="section bg-transparent">

					<div class="container">

						<div class="col-lg-6 offset-lg-1 mb-5">
							<small class="text-muted text-uppercase font-weight-light ls3 d-block">Some of Featured Pictures</small>
							<h2 class="font-weight-bold ls0 mb-3" style="font-size: 46px;">See what I Did.</h2>
							<p class="text-muted" style="font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur blanditiis saepe dolore tempora nihil praesentium dolorum unde, earum, nostrum odit?</p>
						</div>

						<div class="row grid-container gutter-30" style="overflow: visible;">

							<!-- Photographs
							============================================= -->
							{% for photo in photos %}
							<div class="col-lg-4 col-sm-6 rounded img-hover-wrap">
								<div class="img-hover-card">
									<a href="{{photo.image.url}}" data-lightbox="image"><img src="{{photo.image.url}}" alt="Image"></a>
									<div class="img-hover-detail">
										<small class="text-light ls1 font-weight-light">{{photo.category}}</small>
										<h3 class="img-hover-title"><a href="#">{{photo.title}}</a></h3>
										<div class="img-link"><a href="#"><i class="icon-line-arrow-right"></i></a></div>
									</div>
								</div>
							</div>
							{% endfor %}

						</div>

						<!-- Titles
						============================================= -->
						<div class="row mt-5">
							<div class="col-sm-6 offset-sm-1">
								<h2 class="font-weight-bold ls0 mb-3" style="font-size: 38px;">More Coming Soon..</h2>
								<p class="text-muted" style="font-size: 16px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur blanditiis saepe dolore tempora nihil praesentium dolorum unde, earum, nostrum odit?</p>
							</div>
						</div>

					</div>
				</div>

			</div>

		</section><!-- #content end -->


{% endblock %}

{% block js %}
	<!-- Menu Open Plugin
	============================================= -->
	<script src="{% static 'demos/photographer/js/menu-easing.js' %}"></script>
	<script src="{% static 'demos/photographer/js/hover3d.js' %}" ></script>

	<script>

		// Hover Script
		$(".img-hover-wrap").hover3d({
			selector: ".img-hover-card",
			shine: false,
		});

	</script>

<!-- slider script -->

<!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
	<script src="{% static 'rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
	<script src="{% static 'rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
	<!-- SLIDER REVOLUTION ADDONS  -->
	<script src="{% static 'rs-plugin/js/addons/revolution.addon.beforeafter.min.js' %}"></script>
	<script src="{% static 'rs-plugin/js/addons/revolution.addon.particles.min.js' %}"></script>
	<!-- SLIDER REVOLUTION EXTENSIONS  -->
	<script src="{% static 'rs-plugin/js/extensions/revolution.extension.actions.min.js' %}"></script>
	<script src="{% static 'rs-plugin/js/extensions/revolution.extension.carousel.min.js' %}"></script>
	<script src="{% static 'rs-plugin/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
	<script src="{% static 'rs-plugin/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
	<script src="{% static 'rs-plugin/js/extensions/revolution.extension.migration.min.js' %}"></script>
	<script src="{% static 'rs-plugin/js/extensions/revolution.extension.navigation.min.js' %}"></script>
	<script src="{% static 'rs-plugin/js/extensions/revolution.extension.parallax.min.js' %}"></script>
	<script src="{% static 'rs-plugin/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
	<script src="{% static 'rs-plugin/js/extensions/revolution.extension.video.min.js' %}"></script>

	<!-- ADD-ONS JS FILES -->
	<script>
		var revapi77,
		tpj=jQuery;
		var $ = jQuery.noConflict();

		tpj(document).ready(function() {
			if(tpj("#rev_slider_77_1").revolution == undefined){
				revslider_showDoubleJqueryError("#rev_slider_77_1");
			}else{
				revapi77 = tpj("#rev_slider_77_1").show().revolution({
					sliderType:"standard",
					jsFileLocation:"include/rs-plugin/js/",
					sliderLayout:"fullwidth",
					dottedOverlay:"none",
					delay:9000,
					particles: {startSlide: "2", endSlide: "2", zIndex: "1",
						particles: {
							number: {value: 80}, color: {value: "#FFF"},
							shape: {
								type: "circle", stroke: {width: 0, color: "#FFF", opacity: 1},
								image: {src: ""}
							},
							opacity: {value: 0.5, random: true, min: 0.25, anim: {enable: false, speed: 3, opacity_min: 0, sync: false}},
							size: {value: 2, random: true, min: 0.5, anim: {enable: false, speed: 40, size_min: 1, sync: false}},
							line_linked: {enable: false, distance: 150, color: "#FFF", opacity: 0.4, width: 1},
							move: {enable: true, speed: 1, direction: "none", random: true, min_speed: 1, straight: false, out_mode: "out"}},
						interactivity: {
							events: {onhover: {enable: false, mode: "repulse"}, onclick: {enable: false, mode: "repulse"}},
							modes: {grab: {distance: 400, line_linked: {opacity: 0.5}}, bubble: {distance: 400, size: 40, opacity: 0.4}, repulse: {distance: 200}}
						}
					},
					navigation: {
						keyboardNavigation:"off",
						keyboard_direction: "horizontal",
						mouseScrollNavigation:"off",
						 mouseScrollReverse:"default",
						onHoverStop:"off",
						arrows: {
							style:"gyges",
							enable:true,
							hide_onmobile:false,
							hide_onleave:false,
							tmp:'',
							left: {
								h_align:"center",
								v_align:"bottom",
								h_offset:-20,
								v_offset:0
							},
							right: {
								h_align:"center",
								v_align:"bottom",
								h_offset:20,
								v_offset:0
							}
						}
					},
					responsiveLevels:[1240,1240,1240,480],
					visibilityLevels:[1240,1240,1240,480],
					gridwidth:[1200,1200,1200,480],
					gridheight:[800,800,800,700],
					lazyType:"none",
					parallax: {
						type:"mouse+scroll",
						origo:"slidercenter",
						speed:400,
					  speedbg:0,
					  speedls:0,
						levels:[1,2,3,4,5,6,7,8,12,16,47,48,49,50,51,55],
					},
					shadow:0,
					spinner:"off",
					stopLoop:"on",
					stopAfterLoops:0,
					stopAtSlide:1,
					shuffle:"off",
					autoHeight:"off",
					fullScreenAutoWidth:"off",
					fullScreenAlignForce:"off",
					fullScreenOffsetContainer: "",
					fullScreenOffset: "",
					disableProgressBar:"on",
					hideThumbsOnMobile:"off",
					hideSliderAtLimit:0,
					hideCaptionAtLimit:0,
					hideAllCaptionAtLilmit:0,
					debugMode:false,
					fallbacks: {
						simplifyAll:"off",
						nextSlideOnWindowFocus:"off",
						disableFocusListener:false,
					}
				});
				var ua = window.navigator.userAgent;
				var msie = ua.indexOf("MSIE ");

				if(msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./) || ('CSS' in window && 'supports' in window.CSS && !window.CSS.supports('mix-blend-mode', 'screen'))) {

				 var bgColor = 'rgba(245, 245, 245, 0.5)';
				 //jQuery('.rev_slider .tp-caption[data-blendmode]').removeAttr('data-blendmode').css('background', bgColor);
				 jQuery('.rev_slider .tp-caption.tp-blendvideo[data-blendmode]').remove();
				}
			}

			RsParticlesAddOn(revapi77);

			RevSliderBeforeAfter(tpj, revapi77, {
				arrowStyles: {
					leftIcon: "icon-caret-left",
					rightIcon: "icon-caret-right",
					topIcon: "icon-caret-up",
					bottomIcon: "icon-caret-down",
					size: "35",
					color: "#FFF",
					bgColor: "transparent",
					spacing: "10",
					padding: "0",
					borderRadius: "0"
				},
				dividerStyles: {
					width: "1",
					color: "rgba(255, 255, 255, 0.5)"
				},
				onClick: {
					time: "500",
					easing: "Power2.easeOut",
				},
				cursor: "move",
				carousel: false
			});
		});	/*ready*/
	</script>


{% endblock %}

