{% extends './basic.html' %}
{% load static %}
{% block title %}| Portfolio {% endblock %}

 {% block head %}    {% endblock %}

	{% block style %}   {% endblock %}

{% block body %}

        <    		<!-- Page Title
		============================================= -->
		<section id="page-title" class="page-title-parallax page-title-dark include-header" style="padding: 250px 0; background-image: url({% static 'iimages/port1.jpg' %}); ">

			<div class="container clearfix">
				<h1 data-animate="fadeInUp">Portfolio</h1>
				<span>We work smart to get you impressed!</span>
				<span>Look deep into our portfolio it will speak a lot for itself.</span>

			</div>

		</section>
		<!-- #page-title end -->
<!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap">

				<div class="container clearfix">

					<div class="section" style="margin-top:0px; padding: 0px;">
					<div class="container demo">

						<div class="heading-block center">
							<h2>About</h2>

						</div>

						<div class="row">
							<div class="col-12">
								<p class="">Rohartech Pvt Ltd. is well known for its services, we provide a wide array of Web & App Development, Digital Marketing, Graphic Design & Photography & Cinematography for all kinds of enterprises. We are a team of expertise i.e Client-focused and customer-centric. We are a leading IT Company in Chandigarh that helps you around the world to design, develop, localize, publish and stand your brand and business online for excessive productivity. </p>
							</div>
						</div>

					</div>
				</div>



					<!-- Portfolio Items
					============================================= -->
					<div id="portfolio" class="portfolio row grid-container gutter-20 gutter-sm-50" data-layout="fitRows" >

						<!-- Portfolio Item: Start -->
						<article class="portfolio-item col-12 pf-media pf-icons">
							<!-- Grid Inner: Start -->
							<div class="grid-inner row no-gutters">
								<!-- Image: Start -->
								<div class="portfolio-image col-lg-6" data-animate="fadeInLeft">
									<div class="grid-inner">
										<a href="#">
											<img src="{% static 'iimages/port-web.jpg' %}" alt="Open Imagination">
										</a>
										<!-- Overlay: Start -->
										<div class="bg-overlay" >

											<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
										</div>
										<!-- Overlay: End -->
									</div>
								</div>
								<!-- Image: End -->
								<!-- Decription: Start -->
								<div class="portfolio-desc col-lg-6 p-4 px-lg-5" data-animate="fadeInRight">
									<h3><a href="/web_development/">Web & App Development</a></h3>

									<p class="mt-3 d-none d-sm-block">Our website developers provide expert services of web & app development to our clients. Rohartech binds your complete purpose into a web & app that will help your business to succeed in the realm. We follow the complete life-cycle process from its development to deployment and its maintenance. As the use of websites and apps is getting closer and closer for every person and every purpose, We are trying to wrap this requirement effectively, efficiently, and easily.</p>
									<a href="/http://www.rohartech.com/static/rohar/logo.png" download="Rohartech" class="btn btn-secondary d-none d-sm-inline-block">Download <i class="icon-line-arrow-down"></i><span class="sr-only">Details</span></a>
								</div>
								<!-- Description: End -->
							</div>
							<!-- Grid Inner: End -->
						</article>
						<!-- Portfolio Item: End -->

						<article class="portfolio-item col-12 pf-illustrations">
							<div class="grid-inner row no-gutters" >
								<div class="portfolio-image col-lg-6 order-lg-last" data-animate="fadeInRight">
									<div class="grid-inner">
										<a href="#">
											<img src="{% static 'iimages/port-dm1.jpg' %}" alt="Locked Steel Gate">
										</a>
										<div class="bg-overlay">
											<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
										</div>
									</div>
								</div>
								<div class="portfolio-desc col-lg-6 p-4 px-lg-5" data-animate="fadeInLeft">
									<h3><a href="/digital_marketing/">Digital Marketing</a></h3>


									<p class="mt-3 d-none d-sm-block">Let us help you to develop and grow your business online through our complete and particular services of digital marketing. Rohartech is a leading digital marketing agency in Chandigarh that works sharply on boosting your small and large business successfully with online marketing. Our service area covers Search to Content to Social Media to Website Ranking to Mobile Advertising. Get Digital Excellence of your Business from Rohartech.</p>

									<a href="/http://www.rohartech.com/static/rohar/logo.png" download="Rohartech" class="btn btn-secondary d-none d-sm-inline-block">Download <i class="icon-line-arrow-down"></i><span class="sr-only">Details</span></a>
								</div>
							</div>
						</article>

						<article class="portfolio-item col-12 pf-media pf-icons">
							<!-- Grid Inner: Start -->
							<div class="grid-inner row no-gutters">
								<!-- Image: Start -->
								<div class="portfolio-image col-lg-6" data-animate="fadeInLeft">
									<div class="grid-inner">
										<a href="#">
											<img src="{% static 'iimages/port-gd.jpg' %}" alt="Open Imagination">
										</a>
										<!-- Overlay: Start -->
										<div class="bg-overlay" >

											<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
										</div>
										<!-- Overlay: End -->
									</div>
								</div>
								<!-- Image: End -->
								<!-- Decription: Start -->
								<div class="portfolio-desc col-lg-6 p-4 px-lg-5" data-animate="fadeInRight">
									<h3><a href="/web_&_graphics_designing/">Graphic Design</a></h3>

									<p class="mt-3 d-none d-sm-block">Our innovative graphic designer experts provide high-quality graphic designing of all kinds that will fulfill our client’s all business requisites. We hold a decade-long experience in this field of creative and eye-popping graphic designs. Today's world is moving to represent its market, or business element, creative and innovative. Rohartech produces impressive graphics for your purpose to highlight your brand and business professionally and beautifully.</p>
									<a href="/http://www.rohartech.com/static/rohar/logo.png" download="Rohartech" class="btn btn-secondary d-none d-sm-inline-block">Download <i class="icon-line-arrow-down"></i><span class="sr-only">Details</span></a>
								</div>
								<!-- Description: End -->
							</div>
							<!-- Grid Inner: End -->
						</article>

						<article class="portfolio-item col-12 pf-graphics pf-uielements" >
							<div class="grid-inner row no-gutters">
								<div class="portfolio-image col-lg-6 order-lg-last">
									<div class="grid-inner" data-animate="fadeInRight">
										<a href="#">
											<img src="{% static 'iimages/port-pg.jpg' %}" alt="Mac Sunglasses">
										</a>
										<div class="" >

											<div class="bg-overlay-bg dark" data-hover-animate="fadeIn"></div>
										</div>
									</div>
								</div>
								<div class="portfolio-desc col-lg-6 p-4 px-lg-5" data-animate="fadeInLeft">
									<h3><a href="/web_&_graphics_designing/">Photography & Cinematography</a></h3>


									<p class="mt-3 d-none d-sm-block">Our Photography & Cinematography services help you convert your imagination into reality. We can add life to your sort and big moments that you want to keep for long. Rohartech provides magical services of photo-shooting and video-shooting that will showcase wonder imagination and boundless creativity. We are a professional team that has strong experience in all kinds of Photography & Cinematography with a young attitude of being creative, unconventional, and alluring.</p>

									<a href="/http://www.rohartech.com/static/rohar/logo.png" download="Rohartech" class="btn btn-secondary d-none d-sm-inline-block">Download <i class="icon-line-arrow-down"></i><span class="sr-only">Details</span></a>
								</div>
							</div>
						</article>

					</div><!-- #portfolio end -->

				</div>
			</div>
		</section><!-- #content end -->


{% endblock %}

{% block js %}

{% endblock %}

